
<div>

<iframe
  src="<%= uv_host %>/uv/uv.html#?manifest=<%= manifest_url %>&config=<%= uv_config_host %>/uv/uv-config.json&m=0&cv=0"
  title="Digital content viewer" width="900" height="640" allowfullscreen frameborder="0">
</iframe>

</div>
