<div class="rvt-cols-3-md campus">
  <div class="rvt-card rvt-card--raised">
    <div class="rvt-card__image">
      <%= image_tag(campus_image(campus), class: 'campus_image', alt:"#{convert_campus_id(campus)}") %>
    </div>
    <div class="rvt-card__body">
    <div class="rvt-c-card__eyebrow rvt-m-bottom-sm"><%= convert_campus_id(campus) %></div>
      <h3 class="rvt-card__title">
        <a href="#<%= campus %>">
          <div class="rvt-sr-only"><%= "Explore #{convert_campus_id(campus)} Repositories" %></div>
          Explore Repositories
        </a>
      </h3>
    </div>
  </div>
</div>
