$breadcrumb-divider: quote("»");
$logo-image: image_url('arclight/logo.png') !default;
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'arclight/application';
@import 'breadcrumbs';
@import 'campus';
@import 'scroll_to_top';

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#main-container {
  flex: 1 0 auto;
}

// OVERRIDE Blacklight Range Limit gem because it doesn't seem to work with Rails 7/Blacklight 8
// @see https://github.com/projectblacklight/blacklight_range_limit/issues/236
#facet-date_range_isim {
  // Hide some features that don't work or we don't want
  .distribution, .more_facets, .facet-values.missing, .facet-count {
    display: none;
  }
  p.range.subsection {
    .facet-limit-active & {
      // Don't show the complete date range if one is already applied
      display: none;
    }
  }
}
