// Override breadcrumb heirarchy styles from arclight

$base-padding: 0.5rem;
$padding-increment: 0.5rem;

.al-show-breadcrumb {
  .breadcrumb {
    svg {
      height: 1rem;
      width: 1rem;
      fill: #6E757C;
    }

    .breadcrumb-item:first-of-type::before,
    .breadcrumb-item + .breadcrumb-item::before {
      content: '';
    }

    .breadcrumb-item {
      display: block;
    }

    .breadcrumb-item-1 {
      padding-left: $base-padding;

      .breadcrumb {
        padding-left: $base-padding;
      }
    }

    @for $i from 3 through 8 {
      .breadcrumb-item-3:nth-child(#{$i}) {
        padding-left: calc(#{$base-padding} + #{$padding-increment * ($i - 2)});
      }
    }

    @for $i from 2 through 8 {
      .breadcrumb-item-3:nth-of-type(#{$i}) ~ li.breadcrumb-item-4 {
        padding-left: calc(#{$base-padding} + #{$padding-increment * ($i - 1)});
      }
    }

    .breadcrumb-campus-link {
      flex: 1 0 100%;
    }
  }
}
