@import 'vendor/rivet';

.campus {
  background-color: #fff;
  margin: 1em 0;
  border-radius: 1em;
  padding: 0.5em;

  .campus-header {
    margin: 0.1rem;
    min-height: 4rem;
    font-size: 20px;
  }

  .campus_image {
    height: auto;
    display: inline-block;
    max-width: 100%;
  }

  .campus_footer {
    margin-top: 0.5em;
  }

  .campus_link {
    margin-bottom: 0;
  }

  a.button {
    text-decoration: none;
  }

  a:hover {
    color: #990000;
    background: none;
    background-color: transparent;
    text-decoration: none;
  }

  .button {
    display: inline-block;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-width: 2px;
    border-radius: 20px;
    padding: 0.5625em 1em;
    margin: 0 0 1rem;
    font-size: 1rem;
    background-color: #900;
    color: #fff;
    font-family: BentonSansBold, Helvetica, Arial, sans-serif;
    font-weight: 400;
    transition: background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.18s ease-out;
  }

  .rvt-c-card__eyebrow {
    @extend .rvt-card__eyebrow;

    font-size: 0.9375rem;
  }
}
