#ngao-footer {
  width: 100%;
  margin: 5rem auto 0;
  background-color: var(--rvt-color-gold-700);
  display: flex;
  .ngao-links {
    margin: 0 auto;
    position: relative;
    justify-content: space-around;
  }
}

.link-caddy {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-flex;
      a {
        color: var(--rvt-color-white-base);
        padding: 0.5rem 1rem;
        text-decoration: underline;
      }
    }
  }
}

.link-caddy {
  a:hover {
    color: var(--rvt-color-white-base);
    text-decoration: none;
  }
}

@media only screen and (min-width:40em) {
  #ngao-footer {
    padding: 1rem 0;
  }
  #footer {
    margin-top: 0px;
  }
}
