@import 'vendor/rivet';

// These overrides are applied to the current classes and styles to make
// the application look closer to IU's Rivet design system.  To truly
// add the Rivet utility classes would take an incredible amount of view
// overrides from both Arclight and Blacklight.

// BREADCRUMBS
%breadcrumb-styles {
  .breadcrumb {
    @extend .rvt-breadcrumbs;

    .breadcrumb-item + .breadcrumb-item {
      padding-left: 0;

      &::before {
        content: '/';
        padding-right: 0.5rem;
        color: var(--rvt-color-black-200);
      }
    }

    .breadcrumb-item {
      height: 1.5rem;
      a[href="/"] {
        position: relative;
        display: inline-flex;
        align-items: center;
        font-size: 0;
        top: -1.5px;

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: image-url('rivet_icons/home.svg');
          background-size: contain;
          background-repeat: no-repeat;
        }

        &:hover::before {
          filter: invert(60%) sepia(100%) saturate(1400%) hue-rotate(195deg) brightness(50%) contrast(130%);
        }

        &::after {
          content: "Home"; /* Matches the orignial text content */
          position: absolute;
          left: -9999px; /* Moves the text off-screen */
          visibility: visible; /* Keeps the text readable by screen readers */
        }
      }
    }
  }
}

// CONTAINERS
.container {
  @extend .rvt-container-xl;
}

// CARDS
.rvt-card__title a::before {
  box-sizing: unset; // Something was affecting this, unsetting for card title right arrows
}

// SKIP LINK
#skip-link {
  display: none; // using Rivet's skip link
}

// MASTHEAD NAV LINKS
.al-masthead {
  .nav-link {
    @extend .rvt-header-menu__link;

    font-size: unset;

    &:focus-visible {
      box-shadow: unset;
    }
  }
}

// All a tags
a {
  text-decoration: underline !important;
}

// NAVBAR SEARCH
.navbar-search {
  margin-bottom: 0.75rem;

  .search-query-form {
    .input-group {
      @extend .rvt-input-group;

      .input-group-text {
        @extend .rvt-input-group__text;

        &[for="within_collection"] {
          border-color: #78838E;
          background-color: var(--rvt-color-black-100);
          border-top-left-radius: .25rem !important;
          border-bottom-left-radius: .25rem !important;
        }
      }

      #within_collection, #search_field {
        @extend .rvt-select;

        width: 1%;
      }

      #within_collection {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: .25rem !important;
        border-bottom-right-radius: .25rem !important;
      }

      #search_field {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .25rem !important;
        border-bottom-left-radius: .25rem !important;
      }

      #q[type=search] {
        @extend .rvt-input;
        height: 100%;
      }

      .search-autocomplete-wrapper {
        border: 0;
      }

      #search {
        @extend .rvt-button;

        align-items: center;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        &:disabled {
          background-color: var(--rvt-color-blue-base);
          border: 0.125rem solid var(--rvt-color-blue-base);
        }
      }

      .search-btn .blacklight-icons {
        svg {
          display: none;
        }

        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: image-url('rivet_icons/magnifying-glass.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

// AL SEARCH BREADCRUMBS
.al-search-breadcrumb {
  @extend %breadcrumb-styles;
}

// REPOSITORIES
%al-repository-styles {
  @extend .rvt-card--horizontal, .rvt-card--raised;

  margin-bottom: 1.5rem !important;
  border: unset;

  .container {
    img {
      border-radius: .25rem;
    }

    all: unset;

    .al-repository-information {
      .repo-name {
        @extend .rvt-card__title;

        a::before {
          display: none;
        }
      }

      .al-repository-extra a.btn-secondary {
        @extend .rvt-button--secondary;

        font-weight: var(--rvt-font-weight-medium);
      }
    }
  }
}

.blacklight-repositories-index {
  .al-repository {
    @extend %al-repository-styles;
  }
}

.blacklight-repositories-show {
  .al-repository {
    @extend %al-repository-styles;
  }

  .al-repository-show-header {
    div {
      margin-top: 2rem;

      h2 {
        font-size: 1.75rem;
      }
    }

    .text-right {
      @extend .rvt-card;

      display: flex;
      align-items: end;
      justify-content: center;

      .al-repository-collections {
        display: flex;

        &::after {
          display: none;
        }

        a {
          @extend .rvt-cta
        }
      }
    }
  }

  .al-document-title-bar {
    .row .al-collection-id {
      display: flex;
      justify-content: end;
    }
  }
}

%paginate-section {
  margin-top: 1.5rem;

  .pagination {
    @extend .rvt-pagination;

    .page-item {
      @extend .rvt-pagination__item;

      height: inherit;
      width: inherit;

      .page-link {
        border-color: transparent;
        border-radius: 0;
        margin: 0 1px 0 -1px;
        padding-left: .775rem;
        padding-right: .775rem;
        border: 0;
      }

      .page-link[aria-current=true] {
        background-color: #fff3f0;
        box-shadow: 0 .25rem 0 #900;
        color: inherit;
      }

      &.disabled {
        .page-link {
          background: unset;
          color: #6E757C;
        }
      }
    }
  }
}

// SEARCH RESULTS PAGE
.blacklight-catalog-index {
  .applied-filter .constraint-value {
    max-width: 100%;
    overflow: unset;
    white-space: normal;
  }

  .btn-primary {
    @extend .rvt-button;
  }

  .btn-outline-secondary {
    @extend .rvt-button--secondary;

    font-weight: var(--rvt-font-weight-medium);
    border-radius: .25rem;

    &.remove {
      @extend .rvt-button--danger-secondary;

      border-color: var(--rvt-color-blue-100);
    }

    &.active {
      @extend .rvt-button--secondary;

      background-color: #EFFAFD;
    }

    &.view-type-compact, &.view-type-list,
    &.view-type-list.active, &.view-type-compact.active {
      svg {
        fill: #296094;
      }
    }

    &.dropdown-toggle::after {
      width: 1rem;
      height: 1rem;
      background-image: image-url('rivet_icons/chevron-down.svg');
      border: none;
      position: relative;
      top: .375rem;
    }
  }

  #sort-dropdown, #per_page-dropdown {
    .dropdown-menu {
      @extend .rvt-dropdown__menu;
    }
  }

  #per_page-dropdown .dropdown-menu {
    min-width: 8rem;
  }

  #facets {
    h3 button:focus {
      @extend .rvt-button:focus;
    }

    h3 button:hover {
      @extend .rvt-button:hover;
    }

    h3 button:active {
      @extend .rvt-button:active;

      border-color: var(--rvt-color-blue-400) !important;
    }

    .facets-heading {
      font-size: 1.5rem;
    }

    #facet-panel-collapse {
      .card, button {
        border-radius: .25rem;
      }

      .facet-limit-active {
        border-color: var(--rvt-color-crimson-500) !important;

        .card-header {
          background-color: var(--rvt-color-crimson-500) !important;
          border-radius: unset;
        }

        .selected {
          color: var(--rvt-color-crimson-500) !important;
        }
      }
    }

    #facet-date_range_isim {
      .input-group {
        @extend .rvt-input-group;

        #range_date_range_isim_begin {
          @extend .rvt-input;

          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        #range_date_range_isim_end {
          @extend .rvt-input;

          border-radius: 0
        }

        .btn-secondary {
          @extend .rvt-button;

          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  #documents {
    .badge {
      @extend .rvt-badge, .rvt-badge--secondary;
    }

    .al-grouped-repository a {
      display: inline-block;
      min-width: 1.5rem;
      min-height: 1.5rem;
    }
  }

  .record-padding {
    @extend %paginate-section;
  }

  .document-metadata {
    @extend %breadcrumb-styles;

    .breadcrumb-item a {
      display: inline-block;
      min-width: 1.5rem;
      min-height: 1.5rem;
    }
  }
}

// SHOW PAGE
.blacklight-catalog-show {
  .al-collection-context-actions .dropdown {
    @extend .rvt-dropdown;

    button {
      @extend .rvt-button--secondary;

      &::after {
        width: 1rem;
        height: 1rem;
        background-image: image-url('rivet_icons/chevron-down.svg');
        border: none;
        position: relative;
        top: .375rem;
      }

      .bi-info-circle-fill {
        background-image: image-url('rivet_icons/info-circle-solid.svg');
        fill: none;
        position: relative;
        bottom: 3px;
      }
    }

    .dropdown-menu {
      @extend .rvt-dropdown__menu;

      min-width: 9rem;

      .dropdown-item {
        display: flex;
        align-items: center;

        svg {
          margin-right: .25rem;
        }
      }

      &.dropdown-menu.shadow-lg.p-2.show {
        min-width: 21.25rem !important;
      }
    }
  }

  #collection-nav {
    margin-top: .75rem;
  }

  .al-sidebar-navigation-context a {
    @extend .rvt-link;
  }

  #appliedParams {
    .btn-primary {
      @extend .rvt-button;
    }
    .btn-outline-secondary {
      @extend .rvt-button--secondary;
      border-radius: .25rem;
    }
  }

  .breadcrumb {
    .breadcrumb-home-link {
      a[href="/"] {
        position: relative;
        display: inline-flex;
        align-items: center;
        top: .25rem;

        &::before {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: image-url('rivet_icons/home.svg');
          background-size: contain;
          background-repeat: no-repeat;
          margin-right: 0.25rem;
        }

        &:hover::before {
          filter: invert(60%) sepia(100%) saturate(1400%) hue-rotate(195deg) brightness(50%) contrast(130%);
        }

        &::after {
          content: "Home"; /* Matches the orignial text content */
          position: absolute;
          left: -9999px; /* Moves the text off-screen */
          visibility: visible; /* Keeps the text readable by screen readers */
        }
      }
    }

    .breadcrumb-campus-link {
      margin-left: 1rem;
      height: 1.5rem;
    }

    .breadcrumb-item-1 {
      margin-left: 2rem;
    }

    .breadcrumb-item-3:first-of-type::before,
    .breadcrumb-item-4:first-child > .breadcrumb-text:first-child::before {
      content: image-url('rivet_icons/arrow-anchor-down-right.svg');
      margin-left: .5rem;
      margin-right: .25rem;
    }

    .breadcrumb-item + .breadcrumb-item {
      padding-left: 0;

      &::before {
        content: '/';
        padding-right: 0.5rem;
        color: var(--rvt-color-black-200);
      }
    }

    .breadcrumb-item a {
      margin-right: 0.5rem;
    }
  }

  .al-request {
    .btn-primary {
      @extend .rvt-button;
    }
  }

  .record-padding {
    @extend %paginate-section;
  }
}
